<%- include partials/header %>
<%- include partials/navbar %>
<br>
<br>
<div class="individual-post">
  <h1 class="post-title"><%= post.title%></h1>
    <h6 class="post-author">Author: <a href="/user/<%= post.author%>"><%=author%></a></h6>
    <h6 class="post-city">Forum: <a href="/city/<%= post.city%>"><%=city%></a></h6>
    <br>
    <h3 class="post-content"><%=post.content%></h3>
</div>

<% include partials/footer %>
