<%- include partials/header %>
<%- include partials/navbar %>
<br>
<br>
<% if (edit) { %>
  <form action="<%=post.id%>" method="POST">
    <div class="form-group row">
      <label for="title" class="col-2 col-form-label">Title:</label>
      <input name="title" class="form-control-sm" type="text" value="<%= post.title%>">
    </div>
    <div class="form-group row">
      <label for="content" class="col-2 col-form-label">Content:</label>
      <input name="content" class="form-control-sm" type="text" value="<%= post.content%>">
    </div>
    <button type="submit" class="btn">Save Changes</button>
  </form>
<% } else { %>
  <div class="individual-post">
    <h1 class="post-title"><%= post.title%></h1>
      <h6 class="post-author">Author: <a href="/user/<%= post.author%>"><%=author%></a></h6>
      <h6 class="post-city">Forum: <a href="/city/<%= post.city%>"><%=city%></a></h6>
      <br>
      <h3 class="post-content"><%=post.content%></h3>
      <form action="/post/edit/<%=post.id%>" method="GET">
        <button type="submit" class="btn">Edit Post</button>
      </form>
  </div>
<% } %>



<% include partials/footer %>
