<div class="profile-info">
  <img src="<%=user.img_url%>" alt="<%=user.name%>" style="width:304px;height:228px;">
  <h2 class=profile-label>Name:</h2> <%= user.name%></h2>
  <h2 class=profile-label>Current City:</h2> <%= user.current_city%></h2>
  <h2 class=profile-label>Join Date:</h2> <%= user.join_date.substring(0, 15) %></h2>
</div>
